body {
    margin:0;
    padding:0;
    background: rgb(255, 255, 255);
}
.container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 60vh;
    background: white;
    margin-bottom: 50px;
}

.buttonContainer{
    display: none;
    margin: auto;
    width: 80vw;
    height: 50px;
    
}
.AllButton{
    width: 100%;
}
.buttons{
    height:40px;
    width: 100%;
    font-size: 150%;
}
.suduko {
    border-style: none;
    border-collapse: collapse;
    margin:0;
    padding:0;
    width:100%;

}
tr{
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}
td{
    height: 10%;
    width:10%;
    padding:0;
    margin: 0px;
    justify-content: center;
    border: 2px solid black;
}
input{
    line-height:8vh;
    width:90%;
    font-size: 35pt;
    text-align: center;
    border-style: none;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
}





/* layout designing  */

.row1{
    border-top: 8px solid black;
}.row4{
    border-top: 8px solid black;
}.row7{
    border-top: 8px solid black;
}
.row9{
    border-bottom: 8px solid black ;
}
.col1{
    border-left: 8px solid black;
}
.col4{
    border-left: 8px solid black;
}
.col7{
    border-left: 8px solid black;
}
.col9{
    border-right:  8px solid black;
}
